<div class="text-center title-container">
  <div class="text-background">
    <h1 class="text-center">Cocktail Recipes</h1>
    <p>Welcome to a wonderful list of cocktails</p>
  </div>
  <div>
    <%=link_to 'New cocktail', new_cocktail_path, class: 'btn btn-primary'%>
  </div>
</div>
<h1 class="text-center">Cocktails</h1>
<%@cocktails.each do |cocktail|%>
  <%=render 'components/cocktailrecipecard', cocktail: cocktail%>
<%end%>
