<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<h1>Heres a list of cocktails</h1>
<%@cocktails.each do |cocktail|%>
  <%=render 'components/cocktailrecipecard', cocktail: cocktail%>
<%end%>
